<div class="top-logo">
  <div class="logo-image">
  </div>
  <div class="top-logo-text">
    <p class="logo-text">N,s</p>
  </div>
</div>

<div class="top-slider">
   <div class="slider">
   <%= image_tag 'top/topimg_1.jpeg' %>
   <%= image_tag 'top/topimg_2.jpeg' %>
   <%= image_tag 'top/topimg_3.jpeg' %>
   <%= image_tag 'top/topimg_4.jpeg' %>
   </div>
</div>